body {
  background: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.summary {
  background: #fff;
  padding: 4em 4em 2em;
  margin-top: 60px;
  margin-left: 50px;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}


form {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 420px;
  margin: 20px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}
.question_button {
  box-shadow: 0 0 1em #222;
  border-radius:2px; 
  width:100% !important; 
  margin-top:5px
}
form h2 {
  margin: 0 0 50px 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #666666;
  border-bottom: solid 1px #e5e5e5;
}
form p {
  margin: 0 0 3em 0;
  position: relative;
}
form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
}
form .button {
  display: block;
  padding: 2px 5px;
  color: #666;
}
label {
  font-size:16px;
  color: white;
}

select {
  color: #000;
}

.boxlabel {
  color: #666;
}

form input[type="submit"] {
  background: #DB3503;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .8em 0;
}
form input[type="submit"]:hover {
  background: #FF6E08;
}

/* Containers for buttons */

.select2, .select2-container, .select2-container--default, .select2-container--focus, .select2-selection, .select2-selection--single {
  max-width:270px !important;
}

#login {
  height: 32px;
  border-radius:5px;
}

/* Data Tables */

.sorting_asc, .sorting_desc, .sorting {
  background-color:white !important;
}

#home_message {
  color:white;
  padding-top:50px;
  padding-left:200px;
  padding-bottom:58px;
}

#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height:80px;
  width:300px;
  background:white;
  padding: 25px;
  margin-top:20px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}

#button_zone {
  border: 2px solid #F7F7F7;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px 40px 55px 0px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #F7F7F7;
  background-color: #F7F7F7;
}
.float-right-wrapper {
  float: right;
}
.circle {
  border-radius: 50px;
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
output {
  color: white
}
ul {
  list-style: none
}
#error {
  border-radius:2px;
  background-color: skyblue;
}

.bar rect {
  fill: royalblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

#canvas {
  border-radius:10px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
